@media only screen and (min-width: 783px) {
    #wpadminbar #wp-admin-bar-toggle-admin-bar {
        width: 36px;
    }
    #wpadminbar #wp-admin-bar-toggle-admin-bar .ab-icon:before {
        content: "\f141";
        top: 3px;
    }
    #wpadminbar #wp-admin-bar-toggle-admin-bar .ab-icon.ab-icon-reverse:before {
        content: "\f139";
        top: 3px;
    }

    #wpadminbar.hidden-bar {
        min-width: 36px;
        width: 36px;
    }
}
